* {
    margin: 0px;
    box-sizing: border-box;
}

.page-teste {

    background-image: url('../../public/assets/images/image12.png');
    background-size: 20%;
   background-position: center;
    
min-height: 100vh;

.meio{
    display: flex;
    justify-content: center;
    align-items: center;
}

    .faixa {
       
        height: 80px;
        width: 100%;
        padding: 15px 40px;
        display: flex;
        flex-direction: row;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        background-color: rgb(255, 255, 255);

    }


    .perguntas{
        display: flex;
        flex-direction: column;
        max-width: 900px;
        width: 100%;
        
    }

    .cima{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    .baixo{
        display: flex;
        flex-direction: row; 
    }

     .pergunta{
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
        margin-bottom: 40px;
        box-shadow: 2px 5px 7px 5px rgba(0, 0, 0, 0.2);
        border-radius: 10000px;
        padding: 0px 50px ;
     height: 80px;
        width: 100%;
background-color: rgb(255, 255, 255);
      align-items: center;
      
    }


    .questions {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
  height: 87vh;
  width: 100%;
    }

    .questions>p {
        display: flex;
        text-align: center;
        font-size: 25px;
        
    }


    @media (max-width: 768px) {
        .page-teste{
            overflow: hidden;
        }
        
        
            #questao{
               font-size: 17px;
               
               
            }
        
        .perguntas{
            max-width: auto;
         
        }
        
            #pergunta{
                height: 80px;
              width: 40%;
              font-size: 15px;
              text-align: center;
            }
        } 
}

